<!DOCTYPE html>
<html>

<head>
	<title>Reset your password</title>

	<style>
		#centerDiv {
			position: absolute;
			z-index: 15;
			top: 30%;
			left: 50%;
			margin: -100px 0 0 -150px;
		}

		#errorMsg {
			color: red;
			display: none;
		}
	</style>
</head>

<body>
<div id="centerDiv">
	<h3>Dear {{name}}, please enter your new password</h3>

	<form action="{{url}}" id="form" method="post">
		<input type="hidden" name="token" value="{{token}}">
		<input type="hidden" name="name" value="{{name}}">

		<label for="password">new password:   </label> <input id="password" type="password" name="password"
																											 placeholder="input your password here">
		<br>
		<label for="password2">password confirmed:</label> <input id="password2" type="password" name="password2" placeholder="enter your password again"/>

		<div>
			<span id="errorMsg">make sure that the password you input twice are identical</span>
		</div>

		<br>
		<div>
			<button type="submit" onclick="return submitForm()">click me</button> &nbsp; &nbsp; &nbsp; &nbsp;
			<button type="reset">reset</button>
		</div>
	</form>

	<br>
</div>

<script type="text/javascript">

	function submitForm(evt) {
		let $ = document.querySelector.bind(document)

		if ($('#password').value !== $('#password2').value) {

			$('#errorMsg').style.display = 'block'

			return false;

		} else {
			return true;
		}


	}


</script>

</body>

</html>
